@charset "UTF-8";

.reset-section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 32px;
}

.reset-title {
    font-size: 28px;
    text-align: center;
    padding-bottom: 32px;
}

.reset-item__name {
    display: block;
    padding-bottom: 5px;
}

.reset-item__input {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 3px 5px;
    border: 1px solid #888;

}

.reset-item__error {
    min-height: 32px;
    color: #FF5555;
}

.reset-button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 1px 1px #2C9E6A;
    background-color: #2C9E6A;
    color: #FFF;
}

.reset-button:hover {
    opacity: .7;
    cursor: pointer;
}