@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #25A31D;
}

.header-icon__text {
    text-decoration: none;
    color: #FFF;
    font-size: 28px;
}

.header-icon__text:hover {
    opacity: .7;
}

/* =================================================================
nav
================================================================= */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    margin-left: 24px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
}

.nav-button {
    margin-left: 24px;
    border: none;
    background-color: #25A31D;
    color: #FFF;
}

.nav-button:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    cursor: pointer;
}

/* =================================================================
burger
================================================================= */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 42px;
    height: 28px;
    z-index: 10;
}

.burger:hover {
    cursor: pointer;
    opacity: .7;
}

.burger-line {
    background-color: #FFF;
    width: 100%;
    height: 3px;
    transition: all .3s ease-in-out;
}

.burger-line.rotate.first {
    transform: rotate(45deg) translate(5px, 13px);
}

.burger-line.rotate.second {
    display: none;
}

.burger-line.rotate.third {
    transform: rotate(-45deg) translate(5px, -13px);
}

/* =================================================================
mask
================================================================= */
.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #888;
    z-index: 4;
    opacity: .7;
}

/* =================================================================
main
================================================================= */
.main {
    background-color: #D3E0DC;
    min-height: 90vh;
}

/* =================================================================
message
================================================================= */
.comment {
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 5;
}

.comment-text {
    padding: 15px 32px;
    border-radius: 0 0 0 25px;
    background-color: #55FF55;
    color: #FFF;
}

.comment-text.danger {
    background-color: #FF5555;
    color: #FFF;
}

/* =================================================================
upper
================================================================= */
.upper {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.upper-click {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    background-color: #AAA;
    color: #FFF;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    transform: rotate(90deg);
    opacity: .7;
}

/* =================================================================
メディアクエリ
================================================================= */
@media screen and (max-width: 790px) {
    .burger {
        display: flex;
    }

    .position {
        position: fixed;
        top: 15px;
        right: 15px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 80px 15px 0 0;
        z-index: 5;
        background-color: #25A31D;
    }

    .nav-link {
        display: block;
        margin-bottom: 24px;
    }

    .toggle {
        display: flex;
    }
}